<main class="main-content bgc-grey-100">
    <div id="mainContent">
        <div class="row gap-20 masonry pos-r height-100">
            <div class="col-md-12 ">
                <div class="row height-100">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="row background-white">
                                    <div class="col-8 offset-2">

                                        <div class="progress">
                                            <div class="progress-bar" style="width: 50%; background: #484848;">
                                                <span class="progress-value">50%</span>
                                                <span class="progress-icon" style="border-bottom-color: #484848;"></span>
                                            </div>
                                        </div>

                                        <p class="text-center p-text">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Nulla placerat ante ac eros gravida porta.</p>

                                    </div>

                                    <div class="col-8 offset-2 mT-50">
                                        <div class="row">
                                            <div class="col">
                                                <div class="text-center border-charts2">
                                                    <img class="img-chart2" src="img/sun-icon.png">
                                                    <p class="text-power m-b-10-negv">10.0 KW</p>
                                                    <p class="label-power">Solar Power</p>
                                                    <img src="img/box-tick.png">
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="text-center border-charts2">
                                                    <img class="img-chart2" src="img/home-icon.png">
                                                    <p class="text-power m-b-10-negv">10.0 KW</p>
                                                    <p class="label-power">Homemade Power</p>
                                                    <img src="img/box-tick.png">
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="text-center border-charts2">
                                                    <img class="img-chart2" src="img/grid-icon.png">
                                                    <p class="text-power m-b-10-negv">10.0 KW</p>
                                                    <p class="label-power">Grd Power Station</p>
                                                    <img src="img/box-tick.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>